<!DOCTYPE html>
<html lang='en' ng-app='shop'>
  <head>
    <meta charset="utf-8">
    <title>Shopular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='css/style.css'>
  </head>
  <body>
    <article>
      <header ng-controller='UserController as userCtl'>
        <h1>Shopular</h1>
          <aside>Logged in as: {{userCtl.displayUser.username}}
          </aside>
          <aside>Logged in at: {{userCtl.displayUser.loginDate}}
          </aside>

        <h2>New Login</h2>
        <form
          name='loginUser'
          ng-submit='loginUser.$valid && userCtl.loginUser(userCtl.inputUser);
          loginUser.$setPristine();
          loginUser.$setUntouched()'
          novalidate>
          <input
            name='usename'
            type='text'
            placeholder='login name'
            required
            ng-model='userCtl.inputUser.username'>
          <input
            name='password'
            type='text'
            placeholder='password'
            required
            ng-model='userCtl.inputUser.password'>
          <input type='submit' value='Login'>
        </form>
      </header>



      <main ng-controller='ShopController as shopCtl'>
        <h2>Add New Item</h2>
        <form
          name='additem'
          ng-submit='additem.$valid && shopCtl.addItem(shopCtl.newItem);
          additem.$setPristine();
          additem.$setUntouched()'
          novalidate>
          <input
            type='text'
            name='name'
            placeholder='name'
            required
            ng-model='shopCtl.newItem.name'>
          <p
            class='errorText'
            ng-show='additem.name.$touched &&
              !additem.name.$valid'>Name is required</p>

          <input
            type='text'
            name='price'
            placeholder='price'
            required
            ng-model='shopCtl.newItem.price'>
          <p
            class='errorText'
            ng-show='additem.price.$touched &&
              !additem.price.$valid'>Price is required</p>

          <input
            type='text'
            name='quantity'
            placeholder='quantity'
            required
            ng-model='shopCtl.newItem.quantity'>
          <p
            class='errorText'
            ng-show='additem.quantity.$touched &&
              !additem.quantity.$valid'>Quantity is required</p>

          <input
            type='text'
            name='color'
            placeholder='color'
            required
            ng-model='shopCtl.newItem.color'>
          <p
            class='errorText'
            ng-show='additem.color.$touched &&
              !additem.color.$valid'>Color is required</p>

          <input
            type='text'
            name='discount'
            placeholder='discount'
            ng-model='shopCtl.newItem.discount'>
          <input type='submit' value='add item'>
        </form>

        <button class='btn btn-default'
          ng-click='shopCtl.switchCurrency()'>
          US / UK
        </button>
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <td ng-click='shopCtl.sortOnThis = "name"'>Name</td> -->
              <td ng-click='shopCtl.setSortOrder("name")'>Name</td>
              <td ng-click='shopCtl.setSortOrder("price")'>Price</td>
              <td ng-click='shopCtl.setSortOrder("quantity")'>Quantity</td>
              <td>{{shopCtl.showColor()}}</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='item in shopCtl.inventory | orderBy: shopCtl.sortOnThis'>
              <td>{{shopCtl.showName(item)}}</td>
              <td ng-if='shopCtl.usa'>{{shopCtl.salePrice(item) | currency: '$'}}
                <img ng-hide='item.discount <= 0'
                src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png'>
              </td>
              <td ng-if='!shopCtl.usa'>{{shopCtl.salePrice(item) | currency: '&pound'}}
                <img ng-hide='item.discount <= 0'
                src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png'>
              </td>
              <td>
                <i
                  class='glyphicon glyphicon-arrow-up'
                  ng-click='shopCtl.setQuantity(item, true)'>
                </i>
                {{item.quantity}}
                <i
                  class='glyphicon glyphicon-arrow-down'
                  ng-click='shopCtl.setQuantity(item, false)'>
                </i>
              </td>
              <td>{{item.color}}</td>
            </tr>
          </tbody>
        </table>
      </main>
      <footer></footer>
    </article>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
    <script src='js/app.js'></script>
  </body>
</html>
